.command{
	text-align:right;
}

.button{
	display: inline-table;
	padding-left: 10px;
}

.button  a:link  { 
	text-decoration: none;
}

.button  a:hover{
	color:rgb(102, 204, 255);
	text-decoration : none;
}

